@charset "utf-8"; /*bla bla*/
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
	min-height:100%; 
    position:relative; 
    padding-bottom:40px; 
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}
del {
	text-decoration:line-through;
}
hr {
	background:transparent;
	border:0;
	clear:both;
	color:transparent;
	height:1px;
	margin:0;
	padding:0;
}
mark {
	background-color:#ffffb3;
	font-style:italic
}
input, select {
	vertical-align:middle;
}
ins {
	background-color:red;
	color:white;
	text-decoration:none;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* ------------------------------------------- Reset Bart Ended ------------------------------------------- */

/* File CSS Part */
body{
	width: 100%;
}
header {
	background-color : rgba(180,180,180,0.5);   /*put some transitions here */
	height: 50px;
    padding-top: 20px;
}

/* Site Name URL in the left side */
#site-name{
	font-size : 24px;
	font-family : courier , sans-serif;
	height: 70px;
	text-decoration: none;
	color: white;
    font-weight: bolder;
    padding: 20px 50px;
}

ul.menu{
	position : absolute;
	right : 50px;
	top : 0px;
	display: flex;
}
.menu-link{
	padding : 27px 20px;
	font-family: monospace;
    font-size: large;
}
li.menu-link a {
	text-decoration : none;
	display : block;
	width : 60px;
	color: black;
	text-align: center;
    padding-bottom: 7px;
}
li.menu-link a:hover{
	/*font-size : 24px;*/
	border-bottom: 2px solid black;
}
 


/* ------------------------ Slider CSS Start Part --------------------------*/
#d-s-header{
	font-family: monospace;
	font-size: 2em;
	padding: 20px;
	margin-left: 50px;
	padding-bottom: 50px;
}
#d-b-slider{
	margin-top: 150px;
	overflow: hidden;
	width: 79%;
    margin: auto;
}
#d-slider{
	width: 200%;
	position: relative;
    right: 0;
}
.d-card{
	display: inline-block;
	width: 250px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 40px -18px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 40px -18px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 40px -18px rgba(0,0,0,0.40);
	font-family: monospace;
	padding-bottom: 15px;
	margin: 0 15px;
}
.d-slider-image{
	width: 100%;
	height: 235px;
}
.d-card h3{
	text-align: center;
    font-size: 1.3em;
	color: gray;
    padding: 15px;
}
.d-card p{
	padding: 0px 15px;
    line-height: 14pt;
}
.d-card h6{
	font-style: italic;
    color: lightgray;
    padding: 20px 14px 5px 14px;
}
.d-prograss{
	width: 200px;
    height: 3px;
    background-color: lightgrey;
    margin: 10px 15px;
}
.d-done{
	width: 50px;
    height: 3px;
    background-color: green; 
}
.d-amount-raised{
	padding-left: 16px;
    color: gray;
}
.d-controls{
	text-align: center;
	font-size: 2em;
	color: gray;
	padding-top: 30px;
}
/* ------------------------- Slider CSS End Part --------------------------*/

/* ------------------------- Gallery Part Start ---------------------------*/
#d-gallery{
	width: 72%;
	margin: 100px auto;
	padding-left: 20px;
}
.d-image{ 
	width: 250px;
	height: 250px;
}
.d-g-image{
	display: inline-block;
	text-align: center;
	overflow: hidden;
	width: 250px;
	height: 250px;
	cursor: zoom-in;
}
.d-g-hover{ 
	transform: scale(1.5);
	opacity: 0.5;
	transition: .5s ease;
}
/* ------------------------- Gallery Part End ---------------------------*/

/* ------------------------- Success Stories Part Start ---------------------------*/
.d-s-stories{
	width: 100%;
	height: 450px; 
	margin-bottom: 200px;  
	position: relative;
	color: #898989;
    font-family: monospace;
} 
.d-s-stories::after{
	content: "";
	background: url(../images/child/3.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; 
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}
.d-success{ 
	display: flex;
    width: 80%;
	margin: auto;
	padding-top: 65px;
}
.d-s-img{
	width: 70%;
	height: 300px;
	overflow: hidden;
	border: 8px solid white;
	margin-right: 30px;
}

.d-s-stories img{
	
}
.d-s-right{ 
	width: 50%;
	padding-left: 40px;
}
.d-s-right h3{
    font-size: x-large;
    padding-bottom: 20px;
}
.d-s-right h1{
	font-size: large;
    padding-bottom: 20px;
}
.d-s-right p{
	font-size: medium;
    padding-bottom: 20px;
}
.d-s-right span{
	font-weight: bold;
	padding-bottom: 20px;
	display: block;
}
.d-s-right button{
	padding: 12px 40px;
    border: none;
    border-radius: 5px;
    background-color: #a9877f;
    color: white;
    cursor: pointer;
	letter-spacing: 1.5pt;
	border: 2px solid #a9877f;
}
.d-s-right button:hover{
	border: 2px solid white; 
	background-color: #a9877f54;
}
/* ------------------------- Success Stories Part End ---------------------------*/


/* ------------------------- Cases Displaying Part Start ----------------------- */
.d-d-box{
	display: flex;
}
.r-bar{
	background-color: #f1f1f1;
	height: 500px;
	width: 15%;
	margin-top: 30px;
    margin: 30px auto;
}
.l-bar{
	background-color: #f1f1f1;
	height: 500px;
	width: 15%;
	margin-top: 30px;
    margin: 30px auto;
}
.d-display{
	width: 60%;
    margin: auto;
	margin-top: 30px;  
	font-family: 'Amiri';	
	direction: rtl;
}
.s-by{
	display: flex;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
}
.s-by li{
	width: 22%;
    padding: 5px 10px; 
}
.s-by label{
	padding-left: 15px;
}
.s-by select{
	padding: 5px 20px; 
    border-radius: 6px;
    background-color: lightgrey;
    color: #4d4d4db8;
}
.d-case{
	border: 1px solid #d3d3d3ab;
	position: relative;
	padding: 20px 10px;
	margin-top: 20px;
	border-radius: 3px; 
	display: flex;
}
.c-bell{
	position: absolute;
    top: 15px;
    left: 15px;
    color: gray;
}
.c-bell i{
	padding: 0 5px;
	cursor: pointer;
}
.u-added{
	border: 2px solid #ebeb7c;
   /* display: inline-block;*/
    padding: 25px 10px 25px 0;
    margin: 5px;
    width: 99px;
    border-radius: 50%;
	-webkit-box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.75);
}
.u-added p{
	padding-bottom: 10px;
	font-size: small;
    text-indent: 9px;
}
.u-caseDes{
	/*display: inline-block;*/
	line-height: 2em;
	width: 55%;
	padding: 10px 35px;
}
.u-time{
	font-size: small;
	color: lightgray; 
}
/* ------------------------- Cases Displaying Part End ------------------------- */

/* For Map ------------------------------------------------- */
.st0{fill:#b044ff;}
.st1{fill:#ff3ea7;}
.st2{fill:#9aff2a;}
.st3{fill:#5aff90;}
.st4{fill:#fff038;}
.st5{fill:#65ff75;}
.st6{fill:#2fffc5;}
.st7{fill:#8563ff;}
.st8{fill:#ff336f;}
.st9{fill:#ff5341;}
.st10{fill:#49ffe4;}
.st11{fill:#ffa63c;}
.st12{fill:#F6FCD2;}
.st13{fill:#B0C7F9;}
.st14{fill:#B6E1FC;}
.st15{fill:#B4B3FC;}
.st16{fill:#2fccff;}
.st17{fill:#9dff4e;}
.st18{fill:#bf3dff;}
.st19{fill:#C8EAE8;}
.st20{fill:#77ff6b;}
.st21{fill:#ff6572;}
.st22{fill:#D4DAFC;}
.st23{fill:#C7FCB3;}
.st24{fill:#FCCFEE;}
.st25{fill:#C7EAE8;}
.st26{fill:#FCDCB9;}
.st27{fill:#FCE9B8;}
.state { 
	transition: all 0.5s; 
	transform-origin: center center;
	stroke:#FFFFFF;
	stroke-width:5;
	stroke-miterlimit:10;
}
.state:hover  { 
	transform: scale(1.3, 1.3); 
}








