@charset "utf-8"; /*bla bla*/
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
	min-height:100%; 
    position:relative; 
    padding-bottom:40px; 
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}
del {
	text-decoration:line-through;
}
hr {
	background:transparent;
	border:0;
	clear:both;
	color:transparent;
	height:1px;
	margin:0;
	padding:0;
}
mark {
	background-color:#ffffb3;
	font-style:italic
}
input, select {
	vertical-align:middle;
}
ins {
	background-color:red;
	color:white;
	text-decoration:none;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* ------------------------------------------- Reset Bart Ended ------------------------------------------- */

/* File CSS Part */
body{
	width: 100%;
}
header {
	background-color : rgba(180,180,180,0.5);   /*put some transitions here */
	height: 50px;
    padding-top: 20px;
}

/* Site Name URL in the left side */
#site-name{
	font-size : 24px;
	font-family : courier , sans-serif;
	height: 70px;
	text-decoration: none;
	color: white;
    font-weight: bolder;
    padding: 20px 50px;
}

ul.menu{
	position : absolute;
	right : 50px;
	top : 0px;
	display: flex;
}
.menu-link{
	padding : 27px 20px;
	font-family: monospace;
    font-size: large;
}
li.menu-link a {
	text-decoration : none;
	display : block;
	width : 60px;
	color: black;
	text-align: center;
    padding-bottom: 7px;
}
li.menu-link a:hover{
	/*font-size : 24px;*/
	border-bottom: 2px solid black;
}
 


/* ------------------------ Slider CSS Start Part --------------------------*/
#d-s-header{
	font-family: monospace;
	font-size: 2em;
	padding: 20px;
	margin-left: 50px;
	padding-bottom: 50px;
}
#d-b-slider{
	margin-top: 150px;
	overflow: hidden;
	width: 79%;
    margin: auto;
}
#d-slider{
	width: 200%;
	position: relative;
    right: 0;
}
.d-card{
	display: inline-block;
	width: 250px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 40px -18px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 40px -18px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 40px -18px rgba(0,0,0,0.40);
	font-family: monospace;
	padding-bottom: 15px;
	margin: 0 15px;
}
.d-slider-image{
	width: 100%;
	height: 235px;
}
.d-card h3{
	text-align: center;
    font-size: 1.3em;
	color: gray;
    padding: 15px;
}
.d-card p{
	padding: 0px 15px;
    line-height: 14pt;
}
.d-card h6{
	font-style: italic;
    color: lightgray;
    padding: 20px 14px 5px 14px;
}
.d-prograss{
	width: 200px;
    height: 3px;
    background-color: lightgrey;
    margin: 10px 15px;
}
.d-done{
	width: 50px;
    height: 3px;
    background-color: green; 
}
.d-amount-raised{
	padding-left: 16px;
    color: gray;
}
.d-controls{
	text-align: center;
	font-size: 2em;
	color: gray;
	padding-top: 30px;
}
/* ------------------------- Slider CSS End Part --------------------------*/















