/* File CSS Part */
header {
	background-color : rgba(180,180,180,0.5);   /*put some transitions here */
}

header p{
	
	font-size : 24px;
	font-family : courier , sans-serif;
}

header li{
	
	display : inline-block ;
	padding : 20px ;
}

ul {
	
	position : absolute ;
	right : 5px;
	top : 0px;
}

li a {
	
	text-decoration : none ;
	display : block;
	width : 60px;
}

p a{
	text-decoration : none;
	color : #000;
}

a:hover{
	font-size : 24px;
	color : #f00;

	